logs
target
/.idea
/.classpath
/.project
/.settings
/.sbtserver
/RUNNING_PID
/project/.sbtserver
/bin/
/redux
tmp/*
!tmp/temp.txt
project/project/
public/index.js
public/index2.html
public/jquery.min.js
ui/node_modules
ui/public/css/
ui/public/js/


